.card {
	border: 1px solid white;
	display: flex;
	gap: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	width: auto;
}

.fruit-name {
	margin: 0;
	font-size: 2rem;
	font-weight: 200;
}

.fruit-color {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
}
